<div medium>
	<unl-toolbar><span id="modal-title" flex class="align-center">Confirm appointment</span></unl-toolbar>
	<div class="content-container">
		<span><strong>Topic: </strong>{{processData.active_asset.title}}<br/></span>
		<span><strong>Date: </strong>{{processData.selectedAppointment.timestamp | amDateFormat:'dddd, MMMM Do, YYYY'}}<br/></span>
		<span><strong>Time: </strong>{{processData.selectedAppointment.timestamp | amDateFormat:'h:mm a'}}</span>
		<span ng-show="processData.selectedLocation"><br/><strong>Location: </strong>{{processData.active_service.locations[processData.selectedLocation].title}}<br/></span>
		
	</div>
	<div class="modal-buttons no-frame">
		<button type="button" class="button-success" ng-disabled="!processData.selectedLocation" ng-click="confirmAppointment()">Confirm</button>
		<button type="button" class="button-secondary" ng-click="closeModal()">No Thanks</button>
	</div>
</div>