<div horizontal layout center-justified>
	<div nine>
		<div class="icon-header">
			<h2 class="align-center">Make an appointment<span class="subhead">When do you want to meet?</span></h2>
		</div>
		<unl-progress indeterminate ng-hide="processData.schedule" class="animate-fade margin-bottom"></unl-progress>
		<div class="animate-fade" ng-show="processData.schedule">
			<div horizontal layout gutters center justified ng-show="processData.active_service.locations">
				<div>
					<h3 class="no-margin">Select a location</h3>
				</div>
				<div>
					<select name="location-select" ng-model="processData.selectedLocation" ng-options="key as location.title for (key, location) in processData.active_service.locations | orderBy:'title'" required>
						<option value="">Select a location</option>
					</select>
				</div>
			</div>
			<div class="divider"></div>
			<div horizontal layout gutters center>
				<div flex six>
					<h3 class="no-margin">Select someone</h3>
				</div>
				<div flex six>
					<select name="staff-select" class="pull-right" ng-options="staff.uni_auth as staff.first_name+' '+staff.last_name for staff in processData.availableStaff | orderBy:'first_name'" ng-model="processData.selectedStaff" ng-change="changeSchedule()">
						<option value="">Any Available Staff</option>
					</select>
				</div>
			</div>
			<div class="divider"></div>
			<div horizontal layout gutters center>
				<div flex six>
					<h3>{{moment().dayOfYear(processData.startDay).format('MMMM Do')}} - {{moment().dayOfYear(processData.startDay+5).format('MMMM Do')}}</h3>
				</div>
			</div>
			<div horizontal layout gutters>
				<div self-center ng-show="processData.startDay > moment().dayOfYear()"><unl-icon-button icon="chevron-left" ng-click="processData.startDay = processData.startDay - 6"></unl-icon-button></div>
				<availability-calendar flex asset="processData.defaultAsset" bookings="bookings" schedule="processData.schedule" start-day="processData.startDay" num-days="4" on-change="addBooking" type="compare" any-available="true"></availability-calendar>
				<div self-center><unl-icon-button icon="chevron-right" ng-click="processData.startDay = processData.startDay + 6"></unl-icon-button></div>
			</div>
		</div>
		<button class="button-clear button-block margin-top" ng-click="startOver()">Start Over</button>
	</div>
</div>

<!-- Modals -->
<div id="modal-confirm-appointment" hidden ng-include src="'views/partials/modal-confirm-appointment.html'"></div>