<div class="icon-header">
	<h2 class="align-center">How would you like to get help?<span class="subhead">Choose a support option for your topic.</span></h2>
</div>
<unl-list-group horizontal layout wrap gutters class="no-margin">
	<unl-list-item-boxed flex auto heading="{{service.friendly_title}}" image="{{service.image_url}}" detail="{{service.description}}" ng-repeat="service in services" link class="animate-fade-in" ng-show="active_asset.services[service.$id] > 0">
		<a ng-href="{{ setServiceUrl(service.url) }}" title="Select this service"><paper-ripple fit></paper-ripple></a>
	</unl-list-item-boxed>
</unl-list-group>

<span>{{active_asset.title}}</span>