<unl-toolbar tabs>
	<a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to Assets"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{ asset.title || 'Loading' }}</span>
</unl-toolbar>

<unl-tabs bind-polymer item="{{selectedTab}}">
  <unl-tab>Settings &amp; Services</unl-tab>
  <unl-tab>Staff</unl-tab>
</unl-tabs>

<unl-pages item="{{selectedTab}}" flex>
	<unl-panel fit>
		<div class="content-container">
			<!-- Asset Settings -->
			<form name="newAssetForm" ng-submit="createAsset()">
				<unl-list-group>
					<unl-list-item-header>General</unl-list-item-header>
					<unl-list-item-details heading="Title">
						<div class="tools">
							<input required type="text" name="asset-title" ng-model="asset.title">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Label">
						<div class="tools">
							<input required type="text" name="asset-label" ng-model="asset.label">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Icon" details="JPEG, PNG, or GIF. Max size of 512x512px.">
						<div class="tools">
							<img ng-show="asset.icon_url" src="{{asset.icon_url}}" class="img-small rounded" alt="{{asset.title}}" /> 
							<unl-icon-button icon="file-upload" ng-file-select ng-file-change="upload($files)" multiple="false"></unl-icon-button>
							<unl-icon-button icon="close" ng-click="removeImage()" ng-show="asset.icon_url"></unl-icon-button>
						</div>
					</unl-list-item-details>
					<unl-list-item-header>Available Services</unl-list-item-header>
					<unl-list-item-details heading="{{service.title}}" details="{{service.description}}" ng-repeat="service in services">
						<div class="tools">
							<unl-toggle-button value="{{asset.services[service.$id]}}" bind-polymer></unl-toggle-button>
						</div>
					</unl-list-item-details>
				</unl-list-group>
			</form>
			<!-- End Asset Settings -->
			<button class="button-error margin-bottom" ng-click="showRemoveAsset()">Remove Asset</button>
		</div>
	</unl-panel>
	<unl-panel fit>
		<div class="content-container">
			<div horizontal layout gutters class="margin-bottom">
				<div flex class="animate-fade">
					<label for="member-filter" hidden>Find a staff member</label>
					<input name="member-filter" ng-model="member_search.$" placeholder="Find a staff member">
				</div>
				<div>
					<unl-tooltip position="bottom" label="Change sort order"><unl-icon-button ng-click="toggleSort()" icon="swap-vert">{{ userSortDirection?'Z-A':'A-Z' }}</unl-icon-button></unl-tooltip>
					<unl-tooltip position="bottom" label="Change sort field">
					<select name="userFieldSelect" ng-model="userSortField">
					  <option value="first_name">First Name</option>
					  <option value="last_name">Last Name</option>
					  <option value="uni_major">Major</option>
					  <option value="uni_year">Year</option>
					  <option value="pivot.created_at">Join Date</option>
					</select>
					</unl-tooltip>
				</div>
			</div>
			<unl-list-group ng-show="members.length > 0">
				<unl-list-item-details user user-model="member" class="animate-fade-left" image="{{ member.profile_image }}" heading="{{ member.first_name ? member.first_name +' '+ member.last_name : member }}" details="{{showUserDetails(member)}}" ng-repeat="member in members | orderBy:userSortField:userSortDirection | filter:member_search">
					<div class="tools">
						<unl-toggle-button value="{{asset.users[member.uni_auth]}}" bind-polymer></unl-toggle-button>
					</div>
				</unl-list-item-details>
			</unl-list-group>
		</div>
	</unl-panel>
</unl-pages>
<!-- Modals -->
<div id="modal-asset-remove" hidden ng-include src="'views/partials/modal-remove-asset.html'"></div>