<unl-toolbar>
	<a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to services"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{ service.title || 'Loading' }}</span>
</unl-toolbar>
<unl-panel class="well" flex>
	<div class="content-container">
		<unl-card>
			<!-- Service Settings -->
			<form name="editServiceForm">
				<unl-list-group>
					<unl-list-item-header>General</unl-list-item-header>
					<unl-list-item-details heading="Title">
						<div class="tools">
							<input required type="text" name="service-title" ng-model="service.title">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Friendly Title">
						<div class="tools">
							<input required type="text" name="service-friendly-title" ng-model="service.friendly_title">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Description">
						<div class="tools">
							<input required type="text" name="service-description" ng-model="service.description">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Icon" details="JPEG, PNG, or GIF. Max size of 512x512px.">
						<div class="tools">
							<img ng-show="service.icon_url" src="{{service.icon_url}}" class="img-small rounded" alt="{{service.title}}" /> 
							<unl-icon-button icon="file-upload" ng-file-select ng-file-change="upload($files)" multiple="false"></unl-icon-button>
							<unl-icon-button icon="close" ng-click="removeImage()" ng-show="service.icon_url"></unl-icon-button>
						</div>
					</unl-list-item-details>
				</unl-list-group>
			</form>
		</unl-card>
		<unl-card>
			<unl-list-group>
				<unl-list-item-header>Service Type</unl-list-item-header>
				<unl-list-item-details heading="External Service">
					<div class="tools">
						<unl-toggle-button value="{{service.type}}" bind-polymer></unl-toggle-button>
					</div>
				</unl-list-item-details>
				<unl-list-item-details class="animate-fade-left" ng-hide="service.type == 0" heading="URL to Service" details="Use the :asset flag to send the asset's name to service.">
					<div class="tools">
						<input required type="text" name="service-url" ng-model="service.url">
					</div>
				</unl-list-item-details>
				<div class="animate-fade-left" ng-show="service.type == 0">
					<unl-list-item-details heading="Time Slot Size" details="In Minutes">
						<div class="tools">
							<input type="number" step="15" min="15" ng-model="service.slot_size">
						</div>
					</unl-list-item-details>
				</div>
			</unl-list-group>
		</unl-card>
		<unl-card class="animate-fade-left" ng-show="service.type == 0">
			<unl-list-group>
				<unl-list-item-header>Service Locations</unl-list-item-header>
				<unl-list-item-details ng-repeat="(key, location) in service.locations" heading="{{location.title}}">
					<div tools class="show-on-hover">
						<unl-icon-button icon="delete" ng-click="removeServiceLocation(key)"></unl-icon-button>
					</div>
				</unl-list-item-details>
				<unl-list-item>
					<form name="serviceLocationAdd" ng-submit="addServiceLocation()" horizontal layout>
						<input type="text" name="new-location" class="no-margin" ng-model="newLocationTitle" flex start placeholder="Location Title">
						<button type="submit">Add</button>
					</form>
				</unl-list-item>
			</unl-list-group>
		</unl-card>
		<unl-card>
			<!-- End Service Settings -->
			<button class="button-error margin-bottom" ng-click="showRemoveService()">Remove Service</button>
		</unl-card>
	</div>
</unl-panel>

<!-- Modals -->
<div id="modal-service-remove" hidden ng-include src="'views/partials/modal-remove-service.html'"></div>